In [ ]:
# Assignment-based Subjective Questions
# 1. From your analysis of the categorical variables from the dataset, what could you infer about
# their effect on the dependent variable? (3 marks)
# 2. Why is it important to use drop_first=True during dummy variable creation? (2 mark)
# 3. Looking at the pair-plot among the numerical variables, which one has the highest correlation
# with the target variable? (1 mark)
# 4. How did you validate the assumptions of Linear Regression after building the model on the
# training set? (3 marks)
# 5. Based on the final model, which are the top 3 features contributing significantly towards
# explaining the demand of the shared bikes? (2 marks)
# General Subjective Questions
# 1. Explain the linear regression algorithm in detail. (4 marks)
# 2. Explain the Anscombe’s quartet in detail. (3 marks)
# 3. What is Pearson’s R? (3 marks)
# 4. What is scaling? Why is scaling performed? What is the difference between normalized scaling
# and standardized scaling? (3 marks)
# 5. You might have observed that sometimes the value of VIF is infinite. Why does this happen?
# (3 marks)
# 6. What is a Q-Q plot? Explain the use and importance of a Q-Q plot in linear regression.
# (3 marks)

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

In [3]:
day_df = pd.read_csv("day.csv", low_memory=False)
day_df.head(3)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349

In [4]:
print(day_df.shape) # (39717, 111)
print(day_df.info(verbose = True))

(730, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB
None

In [5]:
# function to find the null columns having a threshold.
def findNonNullColumns(day_df, fraction):
    return day_df[day_df.columns[day_df.isnull().sum() < fraction * len(day_df)]].columns

In [14]:
print(findNonNullColumns(day_df, 0.35))

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [7]:
# day_df_c.drop_duplicates(inplace = True)